body {
    font-family: arial, helvetica, sans-serif;
    background-color:black;
    color:white;
    padding: 5px;
     }

span.location {color:blue;}
span.tech {color:yellow;}
span.date {color:red;}
span.time {color:green;}