body {
    font-family: arial, helvetica, sans-serif;
    background-color:black;
    color:white;
    padding: 5px;
     }

span.UrielSeptim {color:green;}
span.hero {color:yellow;}
span.Jauffre {color:green;}
span.MartinSeptim {color:green;}
span.MehrunesDagon {color:red;}
span.MankarCamoran {color:red;}

span.MythicDawn {color:red;}
span.blades {color:green;}
span.daedra {color:red;}
span.empire {color:green;}
span.DarkBrotherhood {color:yellow;}