body {
    font-family: arial, helvetica, sans-serif;
    background-color:#add8e6;
    color:maroon;
    padding: 5px;
     }
h1 {
    border: 5px solid orange;
    }
nav {
    border: 5px solid blue;
}
img {
    border: 10px solid green;
}