#bluerect,
#purplerect,
#redrect,
#greenrect,
#orangerect,
#yellowrect
{
    transition: all 1s ease;
}
svg:hover #bluerect {
    transform: translate(0%, -10%)
}
svg:hover #purplerect {
    transform: translate(0%, -20%)
}
svg:hover #redrect {
    transform: translate(0%, -30%)
}
svg:hover #greenrect {
    transform: translate(0%, -40%)
}
svg:hover #orangerect {
    transform: translate(0%, -50%)
}
svg:hover #yellowrect {
    transform: translate(0%, -60%)
}