#bluerect,
#purplerect,
#redrect,
#greenrect,
#orangerect,
#yellowrect
{
    transition: all 1s ease;
}
#bluerect:hover {
    transform: translate(0%, -10%)
}
#purplerect:hover {
    transform: translate(0%, -20%)
}
#redrect:hover {
    transform: translate(0%, -30%)
}
#greenrect:hover {
    transform: translate(0%, -40%)
}
#orangerect:hover {
    transform: translate(0%, -50%)
}
#yellowrect:hover {
    transform: translate(0%, -60%)
}